body{
    background-color: hsl(47, 88%, 63%);
    margin: 100px;
    justify-items: center;
}

.container {
    width: 330px;
    height: 460px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5%;
    justify-items: center;
    font-family: Outfit;
    margin: 0;
    box-shadow: 7px 8px 0px 0px rgba(0, 0, 0, 1.00);
}

.illustration img {
    border-radius: 5%;
}

.head {
    background-color: hsl(47, 88%, 63%);
    height: 30px;
    width: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: -10px 0px 0px 0px;
    margin-top: 10px;
    border-radius: 10%;
}

.head h4 {
    height: 10px;
    width: 70px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-size: 14px;
    margin: 0;
}

.date {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
}

.content h2 { 
    color: hsl(0, 0%, 0%);
    font-size: 25px;
}

.para p {
    color: hsl(0, 0%, 42%);
    font-size: 15px;
    margin: 0;
}

.btn {
     display: flex;
}

.avatar {
    align-items: center;
    margin-top: 20px;
    justify-content: flex-start;
}

.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.last h4 {
    margin-left: 0px;
    font-size: 14px;
    text-align: center;
    margin: 20px;
    padding: 10px 0px 0px 0px;
    font-weight: 500;
}